
 h2,
 h3 	{
	text-align: center;
	color: black;
    margin: 0;
}
 p 	{
	text-align: center;

	margin-bottom: 5px;
}
 .left input:first-child,
 .left input:nth-child(2)   {
    width: 100%;
    height: 60px;
    margin-bottom: 17px;
    border-radius: 0px;
    padding-left: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: grey;

}
.section-12 input:first-child,
.section-12 input:nth-child(2)  {
    width: 60%;
    margin: 0 auto;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 0px;
    padding-left: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: grey;
    border: 2px solid grey;
    float: left;
    margin-left: 20px;

} 
.section-13 input:first-child,
.section-13 input:nth-child(2) 	{
    width: 80%;
    margin: 0 auto;
	height: 60px;
	margin-bottom: 17px;
	border-radius: 0px;
	padding-left: 20px;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: grey;

} 
 .section-12 input[type="submit"] {
    width: 60%;
    margin: 0 auto;
    margin-top: 0;
        padding: 20px 0px;
        float: left;
        margin-left: 20px;
}
 .section-13 input[type="submit"] {
    width: 80%;
    margin: 0 auto;
    margin-top: 0;
    margin-left: 20px;
}
.section-12 .contactform {
    margin-top: 0px;
}
.section-13 .contactform {
    margin-top: 0px;
}
.wpcf7-form p{
    margin: 0;
}
.wpcf7-form-control-wrap{
    margin: 0;
}
 input[type="submit"] 	{
 	margin-top: 20px;
	font-size: 24px;
    background-color: #fff150;
    color: black;
    text-transform: none;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 0px;
    padding: 20px 60px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: none;
    box-shadow: none;
    text-shadow: none;
    font-family: 'Open Sans', sans-serif;
    margin-left: 0;
}
 input[type="submit"]:hover, .contactform_pop-up input[type="submit"]:focus {
	text-decoration: none;
	outline: none;
	background-color: #7f47ea;
	color: white;
	box-shadow: none;
}
 input[type="submit"]:active {

		    outline: 0;
    box-shadow: none;
}
/*.contactform_pop-up .wpcf7-not-valid-tip 	{
	display: none!important;
}*/
.wpcf7-not-valid 	{
	border-color: red!important;
}

 .wpcf7-validation-errors{
    position: absolute;
    display: block;
    top: 390px;
    left: 160px;
    border: none;
    color: red;
    display: none!important;
}

.leftt{
	width: 30%;
float: left;

}
.left{
width: 31.3%;
    float: left;
    margin-right: 9px;
    margin-left: 9px;

}
.leftt input{
	background-color: #000;
	color: #fff;
	height: 50px;
}
.left input{
	background-color: #fff;
	color: grey!important;
	height: 50px;
}
::-webkit-input-placeholder {color:grey;}
::-moz-placeholder          {color:grey;}/* Firefox 19+ */
:-moz-placeholder           {color:grey;}/* Firefox 18- */
:-ms-input-placeholder      {color:grey;}

textarea{
	background-color: #fff;
	padding: 10px 20px;
	height: 150px;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: grey!important;

}
.fancybox-wrap{
	width: 100%;
}


.wpcf7-form .wpcf7-form-control-wrap.file-699 {
    height: 60px;
    width: 100%;
    background-color: #7f47ea;
    font-size: 18px;
    font-family: 'Open Sans';
    background-image: url("sss.png"/*tpa=http://mebel.space-test.com.ua/wp-content/uploads/2016/05/sss.png*/);
    background-position: 345px center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    color: #fff;
    float: left;
    text-align: left;
    padding-left: 20px;
    line-height: 60px;
    margin-bottom: 17px;
}
.wpcf7-form span{
    width: 100%;
}
.wpcf7-form span {
    display: inline-block;
}
.wpcf7-form .wpcf7-form-control-wrap.file-699:before {
    content: "Прикрепить файл";
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
}
 .wpcf7-form .wpcf7-form-control-wrap.file-699 input {
    position: absolute;
    top: 0px;
    z-index: 10;
    color: transparent;
    left: -170px;
    cursor: pointer;
    width: 200%;
    z-index: 100;
    /* visibility: hidden; */
}

 .wpcf7-form .wpcf7-form-control-wrap.file-699.show-file-name {
    background-image: none !important;
}
.wpcf7-form .wpcf7-form-control-wrap.file-699.show-file-name input{
    color: #fff !important;
    margin-left: 165px;
    padding-top: 10px;
}


/*html[xmlns*=""]  .contactform_pop-up .wpcf7-form .wpcf7-form-control-wrap.file-699.show-file-name input {
color: white !important;
margin-left: 13px;
padding-top: 7px;
}*/


.wpcf7-form .wpcf7-form-control-wrap.file-699.show-file-name:before{
    display:none;
}
.fancybox-skin{
	background-color: #fff;
}

textarea{
	width: 98%;
}


 .wpcf7-form span .last{
	width: 45%;
	line-height: 32px;
}
 .wpcf7-form span .last .wpcf7-list-item-label{
	display: none;
}
 .wpcf7-form span .last input{
	width: 15px;
    height: 15px;
}

 .wpcf7-form span .wpcf7-list-item-label{
	width: 90%;
}

 .wpcf7-form span .wpcf7-checkbox{
	text-align: right;
}



.wpcf7-form span {
    display: inline-block;
}
.section-13 input[type="submit"]    {
    margin-top: 20px;
    font-size: 24px;
    background-color: transparent;
    color: #fff150;
    border: 2px solid #fff150; 
    text-transform: none;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 0px;
    padding: 20px 60px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    box-shadow: none;
    text-shadow: none;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    width: 80%;
    margin-left: 20px;
}
 .section-13 input[type="submit"]:hover, .section-13 .contactform_pop-up input[type="submit"]:focus {
    text-decoration: none;
    outline: none;
    background-color: #fff150;
    color: #000;
    box-shadow: none;
}
