.button_wrapper 	{
	text-align: center;
}
.fw-btn {
	font-size: 24px;
	background-color: #fff150;
	color: black;
	text-transform: none;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	border-radius: 0px;
	padding: 20px 60px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	border: none;
	box-shadow: none;
	text-shadow: none;
	font-family: 'Open Sans', sans-serif;
	margin-left: 0;
}
.fw-btn span {
	display: block;

}
.section-7 .fw-btn{
	margin-top: 30px;
}
.fw-btn:hover,
.fw-btn:focus {
	text-decoration: none;
	outline: none;
	background-color: #7f47ea;
	color: #fff;
	border: none;
}

.fw-btn:active {
	box-shadow: inset 0 0 20px #650a04;
}
.contactform_pop-up 	{
	width: 300px;
	margin: 0 auto;
}
.contactform_pop-up h2,
.contactform_pop-up h3 	{
	text-align: center;
	color: black;
}
.contactform_pop-up p 	{
	text-align: center;
	margin: 0;
}
.contactform_pop-up input 	{
	width: 100%;
	height: 50px;
	margin-bottom: 15px;
	border-radius: 0px;
	padding-left: 10px;
}
.contactform_pop-up input[type="submit"] 	{
    font-size: 16px;
    background-color: #fff150;
    color: black;
    text-transform: none;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 0px;
    /* padding: 20px 60px; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: none;
    box-shadow: none;
    text-shadow: none;
    font-family: 'Open Sans', sans-serif;
    margin-left: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 10px;
    margin-top: 5px;
    margin-bottom: -15px;
}
.contactform_pop-up input[type="submit"]:hover, .contactform_pop-up input[type="submit"]:focus {
	text-decoration: none;
	outline: none;
	background-color: #7f47ea;
	color: #fff;
	border: none;
}
.contactform_pop-up input[type="submit"]:active {
	box-shadow: inset 0 0 20px #650a04;
}
.contactform_pop-up .wpcf7-not-valid-tip,
.contactform_pop-up .wpcf7-validation-errors 	{
	display: none!important;
}
.contactform_pop-up .wpcf7-not-valid 	{
	border-color: red;
}


@media (max-width: 500px) 	{
	.fw-btn {
		padding: 20px;
	}
	.contactform_pop-up 	{
		width: 230px;
	}
}


.section-1 .fw-row:first-child .fw-btn {
	font-size: 22px;
	background-color: transparent;
	color: #fff150;
	text-transform: none;
	display: inline-block;
	cursor: pointer;
	border-radius: 0px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	border: none;
	box-shadow: none;
	text-shadow: none;
	text-decoration: underline;
	padding: 0;
	font-weight: lighter;
	margin-right: 0px;

}
.section-1 .fw-row:first-child .fw-btn span {
	display: block;

}
.section-1 .fw-row:first-child .fw-btn:hover,
.section-1 .fw-row:first-child .fw-btn:focus {
	outline: none;
	color: white;
}

.section-1 .fw-row:first-child .fw-btn:active {
	box-shadow: inset 0 0 20px #650a04;
}

.section-1 .fw-row:nth-child(4) .fw-btn {
	font-size: 24px;
	background-color: transparent;
	color: #fff150;
	text-transform: none;
	display: inline-block;
	cursor: pointer;
	border-radius: 0px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	border: none;
	box-shadow: none;
	text-shadow: none;
	text-decoration: underline;
	padding: 0;
	font-weight: lighter;
	border: 2px solid #fff150;
	text-decoration: none;
	padding: 20px 70px;
	margin-top: 20px;
}
.section-1 .fw-row:nth-child(4) .fw-btn span {
	display: block;

}
.section-1 .fw-row:nth-child(4) .fw-btn:hover,
.section-1 .fw-row:nth-child(4) .fw-btn:focus {
	outline: none;
	color: #000;
	text-decoration: none;
	background-color: #fff150;
}

.section-1 .fw-row:nth-child(4) .fw-btn:active {
	box-shadow: inset 0 0 20px #650a04;
}
.section-7 .fw-btn{
	margin-top: 50px;
}

.contactform_pop-up input[type="submit"]{
	padding: 0;
}