.gallery_wrapper 	{
	padding: 20px;
	float: left;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 50px;
}
.gallery_wrapper .img_wrapper 	{
	position: relative;
	float: left;
	margin: 0 15px 0 15px;
	width: 30%;
}
.gallery_wrapper .img_wrapper:nth-child(2) 	{
	animation-delay: 0.2s;
}
.gallery_wrapper .img_wrapper:nth-child(3) 	{
	animation-delay: 0.4s;
}
.gallery_wrapper .img_wrapper:nth-child(4) 	{
	animation-delay: .6s;
}
.gallery_wrapper .img_wrapper:nth-child(5) 	{
	animation-delay: .8s;
}
.gallery_wrapper .img_wrapper:nth-child(6) 	{
	animation-delay: 1s;
}

.gallery_wrapper a img 	{
	min-width: 100%;
	float: left;
}
.gallery_wrapper a span 	{
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background-color: rgba(255,255,255,0.4);
	-webkit-box-shadow: inset 0px 0px 7px 5px rgba(64,64,64, 0.5);
	-moz-box-shadow: inset 0px 0px 7px 5px rgba(64,64,64, 0.5);
	box-shadow: inset 0px 0px 7px 5px rgba(64,64,64, 0.5);
}
.gallery_wrapper a span:hover 	{
	opacity: 1;
}